In [ ]:
from bs4 import BeautifulSoup
import requests

url = 'https://www.bok.or.kr/portal/singl/baseRate/list.do?dataSeCd=01&menuNo=200643'

In [ ]:
resp = requests.get(url)
soup = BeautifulSoup(resp.content, 'lxml')

In [ ]:
tr_list = soup.select('table.fixed tbody tr')
tr_list

[<tr>
 <td class="fb">2020</td>
 <td>05월 28일</td>
 <td>0.50</td>
 </tr>, <tr>
 <td class="fb">2020</td>
 <td>03월 17일</td>
 <td>0.75</td>
 </tr>, <tr>
 <td class="fb">2019</td>
 <td>10월 16일</td>
 <td>1.25</td>
 </tr>, <tr>
 <td class="fb">2019</td>
 <td>07월 18일</td>
 <td>1.50</td>
 </tr>, <tr>
 <td class="fb">2018</td>
 <td>11월 30일</td>
 <td>1.75</td>
 </tr>, <tr>
 <td class="fb">2017</td>
 <td>11월 30일</td>
 <td>1.50</td>
 </tr>, <tr>
 <td class="fb">2016</td>
 <td>06월 09일</td>
 <td>1.25</td>
 </tr>, <tr>
 <td class="fb">2015</td>
 <td>06월 11일</td>
 <td>1.50</td>
 </tr>, <tr>
 <td class="fb">2015</td>
 <td>03월 12일</td>
 <td>1.75</td>
 </tr>, <tr>
 <td class="fb">2014</td>
 <td>10월 15일</td>
 <td>2.00</td>
 </tr>, <tr>
 <td class="fb">2014</td>
 <td>08월 14일</td>
 <td>2.25</td>
 </tr>, <tr>
 <td class="fb">2013</td>
 <td>05월 09일</td>
 <td>2.50</td>
 </tr>, <tr>
 <td class="fb">2012</td>
 <td>10월 11일</td>
 <td>2.75</td>
 </tr>, <tr>
 <td class="fb">2012</td>
 <td>07월 12일</td>
 <td>3.00</td>
 </tr>, <tr>
 <td class="fb">2011</td>
 <td>06월 10일</td>
 <td>3.25</td>
 </tr>, <tr>
 <td class="fb">2011</td>
 <td>03월 10일</td>
 <td>3.00</td>
 </tr>, <tr>
 <td class="fb">2011</td>
 <td>01월 13일</td>
 <td>2.75</td>
 </tr>, <tr>
 <td class="fb">2010</td>
 <td>11월 16일</td>
 <td>2.50</td>
 </tr>, <tr>
 <td class="fb">2010</td>
 <td>07월 09일</td>
 <td>2.25</td>
 </tr>, <tr>
 <td class="fb">2009</td>
 <td>02월 12일</td>
 <td>2.00</td>
 </tr>, <tr>
 <td class="fb">2009</td>
 <td>01월 09일</td>
 <td>2.50</td>
 </tr>, <tr>
 <td class="fb">2008</td>
 <td>12월 11일</td>
 <td>3.00</td>
 </tr>, <tr>
 <td class="fb">2008</td>
 <td>11월 07일</td>
 <td>4.00</td>
 </tr>, <tr>
 <td class="fb">2008</td>
 <td>10월 27일</td>
 <td>4.25</td>
 </tr>, <tr>
 <td class="fb">2008</td>
 <td>10월 09일</td>
 <td>5.00</td>
 </tr>, <tr>
 <td class="fb">2008</td>
 <td>08월 07일</td>
 <td>5.25</td>
 </tr>, <tr>
 <td class="fb">2007</td>
 <td>08월 09일</td>
 <td>5.00</td>
 </tr>, <tr>
 <td class="fb">2007</td>
 <td>07월 12일</td>
 <td>4.75</td>
 </tr>, <tr>
 <td class="fb">2006</td>
 <td>08월 10일</td>
 <td>4.50</td>
 </tr>, <tr>
 <td class="fb">2006</td>
 <td>06월 08일</td>
 <td>4.25</td>
 </tr>, <tr>
 <td class="fb">2006</td>
 <td>02월 09일</td>
 <td>4.00</td>
 </tr>, <tr>
 <td class="fb">2005</td>
 <td>12월 08일</td>
 <td>3.75</td>
 </tr>, <tr>
 <td class="fb">2005</td>
 <td>10월 11일</td>
 <td>3.50</td>
 </tr>, <tr>
 <td class="fb">2004</td>
 <td>11월 11일</td>
 <td>3.25</td>
 </tr>, <tr>
 <td class="fb">2004</td>
 <td>08월 12일</td>
 <td>3.50</td>
 </tr>, <tr>
 <td class="fb">2003</td>
 <td>07월 10일</td>
 <td>3.75</td>
 </tr>, <tr>
 <td class="fb">2003</td>
 <td>05월 13일</td>
 <td>4.00</td>
 </tr>, <tr>
 <td class="fb">2002</td>
 <td>05월 07일</td>
 <td>4.25</td>
 </tr>, <tr>
 <td class="fb">2001</td>
 <td>09월 19일</td>
 <td>4.00</td>
 </tr>, <tr>
 <td class="fb">2001</td>
 <td>08월 09일</td>
 <td>4.50</td>
 </tr>, <tr>
 <td class="fb">2001</td>
 <td>07월 05일</td>
 <td>4.75</td>
 </tr>, <tr>
 <td class="fb">2001</td>
 <td>02월 08일</td>
 <td>5.00</td>
 </tr>, <tr>
 <td class="fb">2000</td>
 <td>10월 05일</td>
 <td>5.25</td>
 </tr>, <tr>
 <td class="fb">2000</td>
 <td>02월 10일</td>
 <td>5.00</td>
 </tr>, <tr>
 <td class="fb">1999</td>
 <td>05월 06일</td>
 <td>4.75</td>
 </tr>]

In [ ]:
tr.text

'\n1999\n05월 06일\n4.75\n'

In [ ]:
from datetime import date
result = []
for tr in tr_list[1:]:
    a = tr.text.split('\n')
    # print(a)
    time = date(int(a[1]), int(a[2][0:2]), int(a[2][4:6])) # year, month, day
    base_rate = a[3]
    
    base_dict = {
        'time' : time,
        'base_rate' : base_rate
    }
    result.append(base_dict)

In [ ]:
print(a)

['', '1999', '05월 06일', '4.75', '']

In [ ]:
import pandas as pd
df = pd.DataFrame(result)
df = df.set_index('time')
df.head()

           base_rate
time
2020-03-17      0.75
2019-10-16      1.25
2019-07-18      1.50
2018-11-30      1.75
2017-11-30      1.50

In [ ]:
df.to_csv('기준금리')

In [ ]:
import csv
with open('sample_data/기준금리.csv','r') as f:
  read = csv.reader(f)

  print(reader)

FileNotFoundError: ignored