In [50]:
from datetime import datetime,timedelta

In [51]:
from bs4 import BeautifulSoup
import requests

url = 'https://www.bok.or.kr/portal/singl/baseRate/list.do?dataSeCd=01&menuNo=200643'

resp = requests.get(url)
soup = BeautifulSoup(resp.content, 'lxml')
tr_list = soup.select('table.fixed tbody tr')
tr_list

[<tr>
 <td class="fb">2020</td>
 <td>05월 28일</td>
 <td>0.50</td>
 </tr>, <tr>
 <td class="fb">2020</td>
 <td>03월 17일</td>
 <td>0.75</td>
 </tr>, <tr>
 <td class="fb">2019</td>
 <td>10월 16일</td>
 <td>1.25</td>
 </tr>, <tr>
 <td class="fb">2019</td>
 <td>07월 18일</td>
 <td>1.50</td>
 </tr>, <tr>
 <td class="fb">2018</td>
 <td>11월 30일</td>
 <td>1.75</td>
 </tr>, <tr>
 <td class="fb">2017</td>
 <td>11월 30일</td>
 <td>1.50</td>
 </tr>, <tr>
 <td class="fb">2016</td>
 <td>06월 09일</td>
 <td>1.25</td>
 </tr>, <tr>
 <td class="fb">2015</td>
 <td>06월 11일</td>
 <td>1.50</td>
 </tr>, <tr>
 <td class="fb">2015</td>
 <td>03월 12일</td>
 <td>1.75</td>
 </tr>, <tr>
 <td class="fb">2014</td>
 <td>10월 15일</td>
 <td>2.00</td>
 </tr>, <tr>
 <td class="fb">2014</td>
 <td>08월 14일</td>
 <td>2.25</td>
 </tr>, <tr>
 <td class="fb">2013</td>
 <td>05월 09일</td>
 <td>2.50</td>
 </tr>, <tr>
 <td class="fb">2012</td>
 <td>10월 11일</td>
 <td>2.75</td>
 </tr>, <tr>
 <td class="fb">2012</td>
 <td>07월 12일</td>
 <td>3.00</td>
 </tr>, <tr>
 <td class="fb">2011</td>
 <td>06월 10일</td>
 <td>3.25</td>
 </tr>, <tr>
 <td class="fb">2011</td>
 <td>03월 10일</td>
 <td>3.00</td>
 </tr>, <tr>
 <td class="fb">2011</td>
 <td>01월 13일</td>
 <td>2.75</td>
 </tr>, <tr>
 <td class="fb">2010</td>
 <td>11월 16일</td>
 <td>2.50</td>
 </tr>, <tr>
 <td class="fb">2010</td>
 <td>07월 09일</td>
 <td>2.25</td>
 </tr>, <tr>
 <td class="fb">2009</td>
 <td>02월 12일</td>
 <td>2.00</td>
 </tr>, <tr>
 <td class="fb">2009</td>
 <td>01월 09일</td>
 <td>2.50</td>
 </tr>, <tr>
 <td class="fb">2008</td>
 <td>12월 11일</td>
 <td>3.00</td>
 </tr>, <tr>
 <td class="fb">2008</td>
 <td>11월 07일</td>
 <td>4.00</td>
 </tr>, <tr>
 <td class="fb">2008</td>
 <td>10월 27일</td>
 <td>4.25</td>
 </tr>, <tr>
 <td class="fb">2008</td>
 <td>10월 09일</td>
 <td>5.00</td>
 </tr>, <tr>
 <td class="fb">2008</td>
 <td>08월 07일</td>
 <td>5.25</td>
 </tr>, <tr>
 <td class="fb">2007</td>
 <td>08월 09일</td>
 <td>5.00</td>
 </tr>, <tr>
 <td class="fb">2007</td>
 <td>07월 12일</td>
 <td>4.75</td>
 </tr>, <tr>
 <td class="fb">2006</td>
 <td>08월 10일</td>
 <td>4.50</td>
 </tr>, <tr>
 <td class="fb">2006</td>
 <td>06월 08일</td>
 <td>4.25</td>
 </tr>, <tr>
 <td class="fb">2006</td>
 <td>02월 09일</td>
 <td>4.00</td>
 </tr>, <tr>
 <td class="fb">2005</td>
 <td>12월 08일</td>
 <td>3.75</td>
 </tr>, <tr>
 <td class="fb">2005</td>
 <td>10월 11일</td>
 <td>3.50</td>
 </tr>, <tr>
 <td class="fb">2004</td>
 <td>11월 11일</td>
 <td>3.25</td>
 </tr>, <tr>
 <td class="fb">2004</td>
 <td>08월 12일</td>
 <td>3.50</td>
 </tr>, <tr>
 <td class="fb">2003</td>
 <td>07월 10일</td>
 <td>3.75</td>
 </tr>, <tr>
 <td class="fb">2003</td>
 <td>05월 13일</td>
 <td>4.00</td>
 </tr>, <tr>
 <td class="fb">2002</td>
 <td>05월 07일</td>
 <td>4.25</td>
 </tr>, <tr>
 <td class="fb">2001</td>
 <td>09월 19일</td>
 <td>4.00</td>
 </tr>, <tr>
 <td class="fb">2001</td>
 <td>08월 09일</td>
 <td>4.50</td>
 </tr>, <tr>
 <td class="fb">2001</td>
 <td>07월 05일</td>
 <td>4.75</td>
 </tr>, <tr>
 <td class="fb">2001</td>
 <td>02월 08일</td>
 <td>5.00</td>
 </tr>, <tr>
 <td class="fb">2000</td>
 <td>10월 05일</td>
 <td>5.25</td>
 </tr>, <tr>
 <td class="fb">2000</td>
 <td>02월 10일</td>
 <td>5.00</td>
 </tr>, <tr>
 <td class="fb">1999</td>
 <td>05월 06일</td>
 <td>4.75</td>
 </tr>]

In [52]:
from datetime import date
result = []
for tr in tr_list[1:]:
    a = tr.text.split('\n')
    time = date(int(a[1]), int(a[2][0:2]), int(a[2][4:6])) # year, month, day
    base_rate = a[3]
    
    base_dict = {
        'date' : time,
        'base_rate' : base_rate
    }
    result.append(base_dict)

In [53]:
import pandas as pd
df = pd.DataFrame(result)
df = df.set_index('date')
df

           base_rate
date
2020-03-17      0.75
2019-10-16      1.25
2019-07-18      1.50
2018-11-30      1.75
2017-11-30      1.50
2016-06-09      1.25
2015-06-11      1.50
2015-03-12      1.75
2014-10-15      2.00
2014-08-14      2.25
2013-05-09      2.50
2012-10-11      2.75
2012-07-12      3.00
2011-06-10      3.25
2011-03-10      3.00
2011-01-13      2.75
2010-11-16      2.50
2010-07-09      2.25
2009-02-12      2.00
2009-01-09      2.50
2008-12-11      3.00
2008-11-07      4.00
2008-10-27      4.25
2008-10-09      5.00
2008-08-07      5.25
2007-08-09      5.00
2007-07-12      4.75
2006-08-10      4.50
2006-06-08      4.25
2006-02-09      4.00
2005-12-08      3.75
2005-10-11      3.50
2004-11-11      3.25
2004-08-12      3.50
2003-07-10      3.75
2003-05-13      4.00
2002-05-07      4.25
2001-09-19      4.00
2001-08-09      4.50
2001-07-05      4.75
2001-02-08      5.00
2000-10-05      5.25
2000-02-10      5.00
1999-05-06      4.75

In [54]:
# df.to_csv('기준금리')

In [55]:
fulldate = pd.DataFrame(columns = ['date'])
start = date(2005, 4, 1)
end = date(2017, 12, 31)
for n in range(int((end - start).days) + 1):
    fulldate.loc[n, 'date'] = start + timedelta(n)
fulldate

            date
0     2005-04-01
1     2005-04-02
2     2005-04-03
3     2005-04-04
4     2005-04-05
...          ...
4653  2017-12-27
4654  2017-12-28
4655  2017-12-29
4656  2017-12-30
4657  2017-12-31

[4658 rows x 1 columns]

In [56]:
final_rates = pd.merge(fulldate,df, on = 'date',how='left')
# final_rates[''] = final_rates['price'].fillna(method='ffill')
final_rates['base_rate']=final_rates['base_rate'].fillna(method='bfill') 
final_rates['base_rate']=final_rates['base_rate'].fillna(method='ffill') 
final_rates

            date base_rate
0     2005-04-01      3.50
1     2005-04-02      3.50
2     2005-04-03      3.50
3     2005-04-04      3.50
4     2005-04-05      3.50
...          ...       ...
4653  2017-12-27      1.50
4654  2017-12-28      1.50
4655  2017-12-29      1.50
4656  2017-12-30      1.50
4657  2017-12-31      1.50

[4658 rows x 2 columns]

In [57]:
final_rates.to_csv('전체기간_기준금리')